.container {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
}

.imageContent {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.image {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.content {
    padding: 2rem;
    text-align: center;
}

.titleContent {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: rgb(2, 99, 255);
}